body{
    font-size: 12pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
nav{
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:#f0f0f0;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
   overflow: hidden;
   opacity: 1;
   font-size: 19px;
}
body{
    background-color:white;
}
#logo1{
    width: 120px;
}
#logo{
    display: inline-block;
    padding-left: 50px;

}
a{
    text-decoration: none;
    color: black;
}
header nav li{
    color: red;
    list-style: none;
    float:right;
    padding: 20px 40px;
 
}
header nav a:hover{
    color: #feb236;
    transition: 0.4s;
}
#flogo{
    display: flexbox;
    width: 100px;
    margin: 30px;
}
#aboutf,#contact{
   color: black;
   padding: 20px;
}
#aboutf:hover{
    color: #feb236;
    transition: 0.4s;
}
#contact:hover{
    color:#feb236;
    transition: 00.4s;
}
#add{
    float: right;
}
footer{
    background-color: #f0f0f0;
    overflow: hidden;
    margin-top:90px;
    width :100%;
    padding-right:5px ;
    padding-left:5px ;
}
#mail,#contact1,#contact2{
    color:blue;
}
#aboutf,#flogo,#contact{
    float:right;
}
footer p{
    text-align: center;
}
#yt{
    width:20px;
    padding-right: 200px;
    margin-right: 10px;
    float: right;
}
#fb{
    width:30px;
    padding-right: 200px;
    margin-right: 30px;
    float: right;
}
#insta{
    width:15px;
    padding-right: 300px;
    margin-right: 30px;
    float: right;
}
/*main*/
#mainhead,#mainhead1{
    width:400px;
    margin-top: 40px;
    margin-right: 40px;
}
#mainhead{
    float: right;
    padding: 0 0 20px 20px;
}
#mainhead1{
    float: left;
    padding: 20px 20px 0 0;
}
#headphones{
    font-size: 19pt;
    text-align: justify;
}
#experience{
    font-size: 100pt;
    margin-left: 200px;
    margin-right: 200px;

}
#mainimage{
    width:1700px;
    height: auto;
    margin-left: 100px;
    margin-right: 100px;
}
#prem{
    color: blue;
    font-size: 17px;
}
#prem:hover{
    color: #feb236;
    transition: 0.3s;
}
#maindiv{
    margin-left: 50px;
    margin-right: 60px;
}
/*True wire less*/
#mainimg,#mainimg1{
    width: 900px;
    height: auto;
    
}
#mainimg1{
    height: 508px;
}
#mainimg12{
    height: 580px;
    width:900px
}

#mainimg{
    margin-left: 5px;
}

#mimg h3{
    
    font-size: xx-large;
}
#mimg p,h3{
    margin-right: 100px;
    margin-left: 100px;
}
#m1{
    text-align: center;
    

}
#mimg p{
    font-size:20px ;
}
.wireless {
    margin-top: 78px;   
    padding-right: 30px;
}

#tr{
    
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 50px;
}
.wireless img{
    width:200px
}
#appleair , #beat1{
    float: left;
    margin-left: 50px; 
    
}
#appleair{
    margin-top: 60px;
}
#text123{
    text-align: left;
}
#appleair1,#jbl{
    float:right;
    margin-left: 70px;
    margin-top:60px;
}
#apple,#apple1,#apple2,#beat,#google{
    border-style: solid;
    border-width: 5px;
    border-color:lightcyan;
    border-radius: 60px;
    text-align: center;
    padding: 10px;
}
#appleair,#appleair1,#appleair2,#beat1,#jbl,#google1{
    margin-top: 20px;
    padding-top: 60px;
    border-style: soild;
    border-width: 5px;
    border-color: gray;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    background-color:#e5eaf5;

}
#text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#appleair2,#google1{
    float: right;
    margin-left: 70px;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#appleair1:hover{
    color:#936639;
    transition: 0.3s;
}
#appleair:hover{
    color:#936639;
    transition: 0.3s;
}
#appleair2:hover{
    color: #936639;
    transition: 0.3s;

}

#beat1:hover{
    color: #936639;
    transition: 0.5s;
}
#jbl:hover{
    color: #936639;
    
    transition: 0.3s;
}#google1:hover{
    color: #936639;
    transition: 0.3s;
}
#buy{
    border-style:ridge;
    border-width: 5px;
    border-radius: 5px;
    background-color: #fffcf2;
    
}
#buy{
    color:darkblue;
    text-decoration: none;
    border-color: white;
}
#buy:hover{
    color:white;
    background-color: black;
    transition: 0.8s;
}
#beat1{
    margin-top: 60px;
}
/*About*/
#get{
    margin-top: 70px;
    width: 1400px;
    margin-left: 240px;
    margin-right: 80px;
}
#t1{
    text-align: center;
    font-size: larger;
    
}
#th2,#th3{
    margin-left: 240px;
}
#ourco{
    height: 462px;
    margin-left: 300px;
}
#ourco2{
    height: 462px;
}
#ourco1{
    margin-left: 50px;
    margin-right: 50px;
}
#t2{
    margin-left: 300px;
    font-size: larger;
}
table, th, td {
    border: 1px solid;
}
table{
    margin-left: 70px;
}
th{
    background-color: #feb236;
}
#table{
    margin-left: 250px;
}
#sucess{
    width: 1000px;
    margin-left: 23%;
    margin-top: 120px;
}
/*main1*/

